anyio
appdirs
asgiref
click
contourpy
cycler
fonttools
h11
htmltools
idna
kiwisolver
linkify-it-py
markdown-it-py
matplotlib
mdit-py-plugins
mdurl
narwhals
numpy
orjson
packaging
pandas
pillow
prompt-toolkit
pyparsing
python-dateutil
python-multipart
pytz
questionary
seaborn
setuptools
shiny
six
sniffio
starlette
typing_extensions
tzdata
uc-micro-py
uvicorn
watchfiles
wcwidth
websockets
